.table-body-container {
  display: grid;
}

.table-body-container tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.719);
}
.table-body-container tr:nth-child(even) td {
  background-color: rgba(135, 187, 37, 30%);
}

.table-body-container tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.table-body-container tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

td {
  padding-left: 0.5rem;
}
