.headers-container {
  text-transform: capitalize;
}

.header-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header-row th:first-child {
  border-top-left-radius: 20px;
}

.header-row th:last-child {
  border-top-right-radius: 20px;
}
.headers-container tr th {
  color: white;
  background-color: #000;
}
